<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>

<body>
    <div class="navbar">
        <div class="logo"></div>
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="#">Activities</a></li>
          <li><a href="#">Q&A</a></li>
          <li><a href="#">Contact</a></li>
          <li><button type="button"><span></span>BookNow</button>
          </li>
        </ul>
    </div>

</body>