<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
<!--Cover is whole page -->
  <div class="cover">
<!--Navigation bar-->
    <div class="navbar">
      <div class="logo"></div>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="/question">Q&A</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/book"><button><span></span>BookNow</button></a></li>
      </ul>
    </div>
<!--middle fo page-->
    <div class="main">
<!--main_content -->
      <div class="center-page">
        <div class="content">
          <h1>Historic of us</h1>
        </div>
      </div>
<!--rige container -->
      <div class="right-side">
        <br/>
        <br/>
        <h3>Welcome to our Hotel</h3>
        <button type="button"><span></span>Log in</button>
        <button type="button"><span></span>Register</button>
      </div>
    </div>
<!--footer (bottom of page )-->
    <footer>
      <div>
        <h3>@CONTACT US</h3>
        <h8>
        ___________________________________________________
        </h8>
        <h5>Facebook : ******</h5>
        <h5>Instargram : ******* </h5>
        <h5>Mail : mandalsunji@gmail.com</h5>
        <h6>10:00 am – 10:00 pm</h6>
      </div>
    </footer>
  </div>
</body>

</html>