<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <!--Cover is whole page -->
  <div class="cover">
    <!--Navigation bar-->
    <div class="navbar">
      <div class="logo"></div>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="/question">Q&A</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/book"><button><span></span>BookNow</button></a></li>
      </ul>
    </div>
    <!--middle fo page-->
    <div class="main">
      <!--main_content -->
      <div class="center-page">
        <div class="picslides">
          <img class="mySlides" src="img_snowtops.jpg">
          <img class="mySlides" src="img_lights.jpg">
          <img class="mySlides" src="img_mountains.jpg">
          <img class="mySlides" src="img_forest.jpg">
          <button class="back" onclick="plus(-1)">&#10094;</button>
          <button class="next" onclick="plus(+1)">&#10095;</button>
        </div>
        <div class="content">
          <h1>Hotel & Resort</h1>
          <h3>Sunni Hotels & Resorts is an innovative luxury hotel brand providing the experienced <br />
            traveler with a unique blend of local heritage and modern design. The friendly and professional hosts at our
            hotels will encourage guests to recharge and reconnect while experiencing the local culture and feeling like
            part of the family.

            Book with U Hotels and Resorts for your memorable travel holidays in South East Asia, and experience top
            deluxe hotel brands like no other!</h3>
        </div>

      </div>
      <!--rige container -->
      <div class="right-side">
        <br />
        <br />
        <h3>Welcome to our Hotel</h3>
        <button type="button"><span></span>Log in</button>
        <button type="button"><span></span>Register</button>
      </div>
    </div>
    <!--footer (bottom of page )-->
    <footer>
      <div>
        <h3>@CONTACT US</h3>
        <h8>
          ___________________________________________________
        </h8>
        <h5>Facebook : ******</h5>
        <h5>Instargram : ******* </h5>
        <h5>Mail : mandalsunji@gmail.com</h5>
        <h6>10:00 am – 10:00 pm</h6>
      </div>
    </footer>
  </div>
</body>

</html>