<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="cover">
    <div class="navbar">
      <div class="logo"></div>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="/question">Q&A</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/book"><button><span></span>BookNow</button></a></li>
      </ul>
    </div>

    <div class="content">
      <div class="center-page"></div>
      <div class="right-side">
        <br/>
        <br/>
        <h3>Welcome to our Hotel</h3>
        <button type="button"><span></span>Log in</button>
        <button type="button"><span></span>Register</button>
      </div>
    </div>
    <footer>
      <h3>@CONTACT US</h3>
      <h3>
        _________________________________________________________________________________________________________________________________________________________________________________________________________
      </h3>
      <h3>Facebook : ******</h3>
      <h3>Instargram : ******* </h3>
      <h3>Mail : mandalsunji@gmail.com</h3>
      <h6>LungSunny naja</h6>
    </footer>
  </div>
</body>

</html>